{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
        
              <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p> 
    <h1 class="heading-large">Your exemption certificate was not valid at the time you claimed</h1>
        </div>
        
        <p>This may have been because your certificate had expired or you didn't get the certificate in time.</p>
        
        <p>You’ve also told us you have a medical condition. Although you didn’t have a valid medical exemption certificate when you claimed a free prescription, you still have the chance to apply.</p>
           
    <h2 class="heading-medium">What to do next</h2>

    <p>
     Choose one of the following options:
    </p>

    <ul class="list list-bullet">

      <li>
        Pay the original £8.60 prescription charge, and apply for a medical exemption certificate. If your application is succesful you won’t have to pay your Penalty Charge.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to pay and apply">
        </div>
      </li>
                    <li>
        Pay the total amount of £68.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </li>

    </ul>

<p>If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a>
    </div>
    
  </div>

</main>

{% endblock %}