{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
          <a class="link-back" href="penalty-view">Back</a>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
               <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
    <h1 class="heading-xlarge">How to pay and apply
</h1>
        </div>

    <h2 class="heading-medium">Pay the prescription charge now </h2>

    <p>
        You will need to pay the original £8.60 prescription charge.
        </p>
        
        <p>When asked to enter the amount you are paying, you just need to type <span class="strong">£8.60</span> (not the full Penalty Charge Notice amount).</p>
        
        
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      

<h3 class="heading-medium">Apply for a maternity exemption certificate</h3>


<p class="panel panel-border-wide">You only have until XX April 2018 to get a maternity exemption certificate.</p>
      
      <p>Ask your doctor, midwife or health visitor how to apply.</p>
      
      <p>You can only apply for a maternity exemption certificate if you:</p>
      
      <ul class="list list-bullet">
        <li>were pregnant at the time you claimed the free prescription (the date on your Penalty Charge Notice)</li>
        <li>you had given birth in the previous 12 months</li>
      </ul>
      
        <h3 class="heading-medium">What happens next?</h3>
      
      <p>After your maternity exemption certificate application has been submitted, an automatic check is carried out. You do not need to phone us. </p>
      
      <p>If your application has been successful and you have paid the £8.60 your Penalty Charge Notice will be closed. You don’t need to do anything more.</p>
        
        <p class="panel panel-border-wide">If you are not eligible for a maternity exemption certificate you will need to pay the full amount on the Penalty Charge Notice.</p>
      
    </div>
    
  </div>

</main>

{% endblock %}