{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<style>
  .contactTable tr td:nth-child(2)
  {
    font-weight:400;
  }
  .contactTable td{
  border-bottom: 1px solid #bfc1c3;
}
table tr td:nth-child(1) {
    width: 25%
    }
</style>

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
        <a class="link-back" href="penalty-view">Back</a>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
<div class="heading-group">
        
        <p>Challenge a Penalty Charge Notice</p>
        
        <h1 class="heading-large">Asking for a Penalty Charge Notice review</h1>
        
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
          
          <h2 class="heading-medium">What you need to do</h2>
                
        <p>
          You need to contact us and explain the exceptional reason why you claimed free or reduced cost dental treatment.
        </p>

          <h2 class="heading-medium">How to contact us</h2>
          
          <p>
            When you contact us you must also include your:
          </p>
          
          <ul class="list list-bullet">
            <li>full name</li>
              <li>date of birth</li>
              <li>Penalty Charge Notice reference number 7489202837</li>
          </ul>
    
        <div class="contactTable" >
          <table>
              <tr>
                <td>Online</td>
                  <td>
                      <p>Use our <a href="#">online contact form</a></p>
                        <p>In the subject box select ‘Dental penalty charge.’<BR>
                
                            We reply within 2 working days.</p>
                  </td> 
              </tr>
                            <tr>
                <td>Email</td>
                <td>Email us at: <a href="mailto:nhsbsa.pecs@nhsbsa.nhs.uk">nhsbsa.decs@nhsbsa.nhs.uk</a>
                <p>We reply within 2 working days.</p>
                </td> 
              </tr>
            <tr>
                <td>Telephone</td>
                <td>
                    <p>

                        Call us on: 0300 330 1293

                    </p>
                                        <p>
                        Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm, UK time
                    </p>
                    <p>
                        If you're deaf or hard of hearing and you have a textphone (sometimes called a minicom), you can contact us using the Text Relay Service. <br>Dial 18001 and then 0300 330 1293.

                    </p>
                </td> 
              </tr>
              <tr>
                <td>Post</td>
                <td>
                <p>Write to us at:</p>
                    <p class="panel" style="border:none; padding-top: 0px">Dental Penalty Charges Team,
                    <br>NHSBSA, 
                    <br>Bridge House, 
                    <br>152 Pilgrim Street, 
                    <br>Newcastle Upon Tyne, 
                    <br>NE1 6SN</p>
                    </td> 
              </tr>
        </table>
      </div>
          <br>
          <p class="panel panel-border-wide">
              We offer a telephone translation service and provide documents in large print and braille on request.
          </p>
          
          <h3 class="heading-medium">What happens next?</h3>

          <h4 class="heading-small">If the review is successful</h4>
          
          <p>
            Your penalty charge will be reduced or removed. However you will still need to pay the original dental treatment charge.
          </p>
    

                    <h4 class="heading-small">If the review is unsuccessful</h4>
          
          <p>
              You will need to pay both the penalty charge and the original dental treatment charge.
          </p>
          
      </div>

      </div>
      
    </div>
  
</main>

{% endblock %}
