{% extends "layout_bsa.html" %}
{% block page_title %}
Pay a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div>
   <div class="grid-row">
      <div class="column-two-thirds">
         <div class="heading-group">
            <p>Challenge a Penalty Charge Notice</p>
            <h1 class="heading-large">We cannot find your maternity exemption certificate</h1>
         </div>
         <p>
            We cannot find your maternity exemption certificate for the dates between 1 December and 31 December 2018.
         </p>
         <p>But you can still apply if you were pregnant when you claimed the free prescription (the date on your Penalty Charge Notice), or you had given birth in the previous 12 months.</p>
      </div>
   </div>
   <h2 class="heading-medium">What to do next</h2>
   <div class="grid-row">
      <div class="column-one-third">
         <div class="info-panel highlight">
            <h2 class="heading-large">Pay</h2>
            <p>You can pay the total amount of £126.40 by debit or credit card, or Direct Debit.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form class="form" action="#">
               <div class="form-group">
                  <input class="button" type="submit" value="Pay total amount">
               </div>
            </form>
            <br>
            <br>
         </div>
      </div>
      <div class="column-one-third">
         <div class="info-panel highlight">
            <h2 class="heading-large head-2">Pay and apply</h2>
            <p>Pay the original £8.60 prescription charge, and apply for a maternity exemption certificate.</p>
            <br>
            <br>
            <br>
            <br>
            <form class="form" action="#">
               <div class="form-group">
                  <input class="button" type="submit" value="Pay and apply">
               </div>
            </form>
            <br>
            <br>
         </div>
      </div>
      <div class="column-one-third">
         <div class="info-panel highlight">
            <h2 class="heading-large head-2">Send proof</h2>
            <p>Send us proof to show that you were entitled to free prescriptions or had a valid maternity exemption certificate between 1 December and 31 December 2018. </p>
            <form class="form" action="#">
               <br>
               <div class="form-group">
                  <input class="button" type="submit" value="How to send proof">
               </div>
            </form>
            <br>
            <br>
         </div>
      </div>
   </div>
   <div class="grid-row">
      <div class="column-two-thirds">
         <!-- <h2 class="heading-large head-2">Exceptional circumstances</h2> -->
         <h2 class="heading-medium">Exceptional circumstances</h2>
         <p>If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice.</p>
         <!--    <form class="form" action="#">
            <br>
            <div class="form-group">
               <input class="button" type="submit" value="Ask for a review">
            </div>
            </form> -->
         <a href="#">Find out if you can ask for a review</a>
      </div>
   </div>
</main>
{% endblock %}