{% extends "layout_bsa.html" %}
{% block page_title %}
Pay a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-third right-floater">
         <div class="payment-summary-small">
            <h2>Payment summary</h2>
            <!--    <p class="payment-info">PCN number 123456789</p>-->
            <h3>6 monthly payments of:</h3>
            <p class="payment-info">£17.60</p>
            <h3>First payment:</h3>
            <p class="payment-info">18 December 2018</p>
            <h3>Last payment:</h3>
            <p class="payment-info">18 May 2019</p>
         </div>
      </div>
      <div class="column-two-thirds left-floater">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <h1 class="heading-large">Enter bank details</h1>
         <form class="form" method="get" action="queryAddress">
            <div class="form-group">
               <label class="form-label-bold" for="cardnumber">Account number</label>
               <input class="form-control medium-width" id="cardnumber" name="cardnumber" type="number">
            </div>
            <div class="form-group">
               <legend>
                  <span class="form-label-bold">Sort code</span>
               </legend>
               <div class="form-date">
                  <div class="form-group form-group-day">
                     <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="">
                  </div>
                  <div class="form-group form-group-day">
                     <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="">
                  </div>
                  <div class="form-group form-group-day">
                     <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="">
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label class="form-label-bold" for="holdername">
               Account name
               </label>
               <input class="form-control max-width" id="holdername" name="holdername" type="text">
            </div>
            <details>
               <summary>
                  <span class="summary">View the Direct Debit Guarantee</span>
               </summary>
               <div class="panel panel-border-narrow">
                  <p>
                     <img src="/public/images/ddlogo.png">
                  </p>
                  <p>The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</p>
                  <p>
                     If there are any changes to the amount, date or frequency of your Direct Debit the NHS Business Services Authority will notify you (normally 10 working days) in advance of your account being debited or as otherwise agreed. If you request the NHS Business Services Authority to collect a payment, confirmation of the amount and date will be given to you at the time of the request.
                  </p>
                  <p>
                     If an error is made in the payment of your Direct Debit, by the NHS Business Services Authority or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.
                  </p>
                  <p>
                     If you receive a refund you are not entitled to, you must pay it back when the NHS Business Services Authority asks you to.
                  </p>
                  <p>
                     You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify the NHS Business Services Authority.
                  </p>
               </div>
            </details>
            <br>
            <div class="form-group">
               <input class="button" type="submit"  value="Next">
            </div>
            <div class="back">
               <a href="#">Cancel</a>
            </div>
         </form>
      </div>
   </div>
</main>
{% endblock %}