{% extends "layout_bsa.html" %}
{% block page_title %}
Pay an NHS Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <div class="text">
            <div class="heading-group">
               <p>Pay an NHS Penalty Charge Notice</p>
               <h1 class="heading-large">
                  Summary
               </h1>
            </div>
            

            <h1 class="heading-medium">
               Your Direct Debit payment schedule
            </h1>

            <div class="review">
               <div class="review-row">
                  <div>
                     <p>Number of payments</p>
                  </div>
                  <div>
                     <p>6</p>
                  </div>
                  <div>
                     <p><a href="./options">Change</a></p>
                  </div>
               </div>
               <div class="review-row">
                  <div>
                     <p>Payment today</p>
                  </div>
                  <div>
                     <p>£17.60</p>
                  </div>
               </div>
               <div class="review-row">
                  <div>
                     <p>18 January 2019</p>
                  </div>
                  <div>
                     <p>£17.60</p>
                  </div>
               </div>
               <div class="review-row">
                  <div>
                     <p>18 February 2019</p>
                  </div>
                  <div>
                     <p>£17.60</p>
                  </div>
               </div>
               <div class="review-row">
                  <div>
                     <p>18 March 2019</p>
                  </div>
                  <div>
                     <p>£17.60</p>
                  </div>
               </div>
               <div class="review-row">
                  <div>
                     <p>18 April 2019</p>
                  </div>
                  <div>
                     <p>£17.60</p>
                  </div>
               </div>
               <div class="review-row">
                  <div>
                     <p>18 May 2019</p>
                  </div>
                  <div>
                     <p>£17.60</p>
                  </div>
               </div>
            </div>
            <div>
               <p>
               Your payments will be taken on or just after your chosen date.
            </p>
            <p>You’re responsible for making sure that payments can be taken on these dates.</p>
            </div>



            <div class="review">

              <p class="strong" style="padding:0px 0 20px 0; border-bottom: 1px solid #bfc1c3;">We will send confirmation of your Direct Debit to this address</p>

               <div class="review-row">
                  <div>
                     <p>Address</p>
                  </div>
                  <div>
                     <p>12 Old Oak Road<br>Throckley<br>NE67 9AD</p>
                  </div>
                  <!--<div>
                     <p><a href="selectedAddress">Change</a></p>
                  </div> -->
               </div>
            </div>
            <div class="payment-summary-small">
               <p>
                  <img src="/public/images/ddlogo.png">
               </p>
               <p>We will send this Direct Debit instruction to: <br>
                  <span class="bold">Your Bank, Their St. Theirtown</span>
               </p>
               <p>
                  Please pay the NHS Business Services Authority Direct Debits from the account detailed in this instruction subject to the safeguards assured by the Direct Debit Guarantee. I understand that this instruction may remain with the Prescription prepayment Issue Office of the NHS Business Services Authority, and if so, details will be passed electronically to my Bank/Building Society.
               </p>
               <p>
                  Originator:<br>
                  NHS Business Services Authority, PPC, Bridge House,<br>
                  152 Pilgrim Street, Newcastle upon Tyne, NE1 6SN
               </p>
               <p>
                  Service User Number (SUN): 242785E
               </p>
               <p>Telephone: 0191 232 5371</p>
            </div>

            <br>

         <div class="heading-group">
            <h1 class="heading-medium">Confirm and submit</h1>
         </div>
         <p>You are agreeing to pay 6 monthly payments of <span class="bold">£17.60</span>.</p>


         <div class="notice">
            <i class="icon icon-information">
              <span class="visually-hidden">Information</span>
            </i>
            <strong>
              <span class="bold">If you fail to make a payment, you may have to pay additional charges.</span> If you repeatedly fail to make payments, you may not be able to pay by Direct Debit in the future.
            </strong>
          </div>
          <br><br>

        <p>
            <a href="end" class="button">Confirm and submit</a>
         </p>

            <!--<form action="bankDetails" method="get" class="form">
               <div class="form-item-wrapper">
                  <div class="form-group">
                     <input class="button" type="submit" value="Next">
                  </div>
               </div>
            </form> -->
            <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
         </div>
      </div>
   </div>
</main>
{% endblock %}