{% extends "layout_bsa.html" %}
{% block page_title %}
Pay an NHS Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <div class="text">
            <div class="heading-group">
               <p>Pay an NHS Penalty Charge Notice</p>
               <h1 class="heading-large">
                  The Penalty Charge reference numbers you entered did not match
               </h1>
            </div>
            <p>
               The Penalty Charge reference numbers you entered did not match.
            </p>
         </div>
         <form action="enter-pcn-number" method="get" class="form">
            <div class="form-item-wrapper">
               <div class="form-group">
                  <input class="button" type="submit" value="Try again">
               </div>
            </div>
         </form>
         <br>
         <p class="navigation"><a class="cancel" href="pcnPage">Cancel</a></p>
      </div>
   </div>
   </div>
</main>
{% endblock %}