{% extends "layout_bsa.html" %}
{% block page_title %}
Pay a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <div class="heading-group">
            <p>Pay an NHS Penalty Charge Notice</p>
            <h1 class="heading-large">What is your address?</h1>
         </div>
         <p>This address will be updated on your record.</p>
         <form action="update-address-handler" method="get" class="form">
            <div class="form-group">
               <label class="form-label" for="lineone">
                  Building and street
               </label>
               <input class="form-control" id="lineone" name="lineone" type="text">
            </div>
            <div class="form-group">
               <input class="form-control" id="linetwo" name="linetwo" type="text">
            </div>

            <div class="form-group">
               <label class="form-label" for="town">
                  Town or city
               </label>
               <input class="form-control" id="town" name="town" type="text">
            </div>
            <div class="form-group">
               <label class="form-label" for="postcode">
                  Postcode
               </label>
               <input class="form-control"  name="postcode" id="postcode" value="" type="text" > <!-- required -->
               <!--<a href="addressList" class="button">Find address</a>-->
            </div>
            <div class="form-item-wrapper">
               <div class="form-group">
                  <input class="button" type="submit" value="Next">
               </div>
            </div>
            <p class="navigation"><a class="cancel" href="pcnPage">Cancel</a></p>
         </form>
      </div>
   </div>
</main>
{% endblock %}