{% extends "layout_bsa.html" %}
{% block page_title %}
Pay a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <div class="heading-group">
            <p>Challenge a Penalty Charge Notice</p>
            <h1 class="heading-large">What to do if you have already paid for your prescription 
               <!-- or you are age exempt -->
            </h1>
         </div>
         <p>If you have already paid for your prescription at your pharmacy
          <!-- or you are aged under 16 or over 60,  -->
       we need to collect some details from you to investigate your case further.</p>
 
         <p>
            <a href="tellUsMore" class="button">Next</a>
         </p>
         <div class="form-group">
            <p class="navigation"><a class="cancel" href="pcnPage">Cancel</a></p>
         </div>
      </div>
   </div>
</main>
{% endblock %}