{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="phase-banner">
        
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        
        </div>
      
    </div>
    
  </div>
  
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <h1 class="heading-large">Further verification required</h1>
      
      <p>
        We have been unable to confirm your identity using the information you’ve provided.
      </p>
        
              <div class="panel panel-border-wide">        
        <p>
To deal with your Penalty Charge Notice please email us at: 
        </p>
                  
                  <ul>
                    <li>nhsbsa.pecs@nhsbsa.nhs.uk  (if you have a Prescriptions Penalty Charge Notice)</li>
                      <li>nhsbsa.decs@nhsbsa.nhs.uk  (if you have a Dental treatment Penalty Charge Notice)</li>
                  </ul>
                  
                <p>
Or you can call us on: 0300 330 9291
        </p>
                  
      </div>
            
    </div>
    
  </div>

</main>

{% endblock %}