{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="phase-banner">
        
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        
        </div>
      
    </div>
    
  </div>
  
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <h1 class="heading-large">Further verification required</h1>
      
      <p>
        We have been unable to confirm your identity using the information you’ve provided. To deal with your Penalty Charge Notice you need to contact us:
      </p>
        
              <div class="panel panel-border-wide">        
        <p>
            <span class="strong">
                For a prescription Penalty Charge Notice
            </span>
        </p>
                  
                  
                    <p>Email us at: nhsbsa.pecs@nhsbsa.nhs.uk</p>
                  
                  
                <p>
Call us on: 0300 330 9291
        </p>
                  
      </div>
        
              <div class="panel panel-border-wide">        
        <p>
            <span class="strong">
For a dental treatment Penalty Charge Notice
            </span>
        </p>
                  
                  
                    <p>Email us at: nhsbsa.decs@nhsbsa.nhs.uk</p>
                  
                  
                <p>
Call us on: 0300 330 1293
        </p>
                  
      </div>
                  
      </div>
            
    </div>

</main>

{% endblock %}