{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    
    <div class="column-two-thirds">
      

      
      <h1 class="heading-xlarge">
        This Penalty Charge Notice is on hold for 60 days.
      </h1>
      
      <p>
        You may have been entitled to a Medical Exemption Certificate between 1 November and 30 November 2017.
      </p>
      
      <h3 class="heading-medium">
       How to close this Penalty Charge Notice
      </h3>
      
      <p>You need to:</p>
      
      <ul class="list list-bullet">
        <li>
          pay the £8.60 prescription charge
        </li>

        <li>
          go to your Doctor and apply for a Medical Exemption Certificate
        </li>
      </ul>
      
        <p>
          We will check our records again after 60 days.
        </p>

      
      <p><a class="button" href="#">Pay the prescription charge now</a></p>


    </div>
    
  </div>

</main>

{% endblock %}