{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
<div class="heading-group">
        
        <p>Pay or challenge a Penalty Charge Notice</p>
        
        <h1 class="heading-xlarge">See other Journeys</h1>
        
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
        
        <p>
          This is a static prototype for demonstrating specific routes
        </p>
          
                  <p>
          You can either click back and try a different option or select a diferent journey from below
        </p>
          
          <ul>
              <li><a href="found/start">prescription prepayment certificate Found</a></li>
              <li><a href="not-found/start">prescription prepayment certificate not found</a></li>
              <li><a href="found-part/start">prescription prepayment certificate found but with a Partial match to patient details</a></li>
              <li><a href="proof-needed/start">DWP mean-tested benefits- Proof needed</a></li>
          </ul>
          
      </div>

      </div>
      
    </div>
  
</main>

{% endblock %}
