{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <div class="done-panel">
        <h1 class="heading-large"><span id="done-tick"> </span>You cannot do anything more online for your Penalty Charge Notice at the moment.
</h1>
        <h2 class="heading-large">If you have been asked to send proof to help us review your case, you should send this to us as soon as possible. 
</h2>
      </div>
        
                      <div class="panel panel-border-wide">        
        <p>
Michelle Doe 
        </p>
                          
                          <p>Penalty Charge Notice 01234567890</p>

                  
      </div>
        
                <details>
          <summary><span class="summary">If you still need to contact us about your Penalty Charge Notice </span></summary>
          <div class="panel panel-border-narrow">
            <p>When you contact us you need to include your reference number. This is in the top left-hand corner of your Penalty Charge Notice letter:</p>


<h3 class="heading-small">For prescriptions</h3>
<ul class="list list-bullet"> 
<li>Call us on 0300 330 9291 (this call will be charged at a local rate)</li>
<li>Email us at <a href="mailto:nhsbsa.pecs@nhsbsa.nhs.uk">nhsbsa.pecs@nhsbsa.nhs.uk</a></li>
</ul>

<h3 class="heading-small">For dental treatment</h3>
<ul class="list list-bullet"> 
<li>Call us on 0300 330 1293 (this call will be charged at a local rate)</li>
<li>Email us at <a href="mailto:nhsbsa.decs@nhsbsa.nhs.uk">nhsbsa.decs@nhsbsa.nhs.uk</a></li>
</ul>
 
          </div>
        </details>
            
      
      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul> 
      
      </div>
    
  </div>

</main>

{% endblock %}