{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <div class="done-panel">
        <h1 class="heading-large"><span id="done-tick"> </span>This Penalty Charge Notice has 
already been closed
</h1>
        <h2 class="heading-large">You do not need to do anything more.
</h2>
      </div>
        
                      <div class="panel panel-border-wide">        
        <p>
Karen Jones
        </p>
                          
                          <p>Penalty Charge Notice 512345678906</p>

                  
      </div>
            
      <p>
If you need to contact us about this Penalty Charge Notice call us on 0300 330 1293 or email us at nhsbsa.decs@nhsbsa.nhs.uk    
      </p>

      
      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul> 
      
      </div>
    
  </div>

</main>

{% endblock %}