{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
    
  <div class="grid-row">
    
    <div class="column-two-thirds">
        
        
      
      <div class="done-panel">
        <h1 class="heading-large">This Penalty Charge Notice has 
already been closed
</h1>

      </div>
        
                      <div class="panel panel-border-wide">        
        <p>
Michelle Doe 
        </p>
                          
                          <p>Penalty Charge Notice 01234567890</p>

                  
      </div>
        
        <h3 class="heading-medium">If you have received a debt collection letter</h3>
        
        <p>Contact the debt recovery agency using their contact details on the debt collection letter.</p>
      
      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul> 
      
      </div>
    
  </div>

</main>

{% endblock %}