{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    

  
    <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
          <a class="link-back" href="proof-of-benefit">Back</a>
      </div>
    </div>
    
    <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">Examples of proof you can send us</h1>
        
                <h1 class="heading-small">A clear scan or photographed image of your exemption certificate card</h1>
        
                              <img src="/public/images/prototypes/challenge/MedexCard.jpg" alt="Example of an maternity exemption certificate card in its entirety with all details displayed clearly" width="600" height="400">

        
        <h1 class="heading-small">A clear scan or photographed image of your exemption certificate letter</h1>
        
 
                              <img src="/public/images/prototypes/challenge/TaxCreditpaper.jpg" alt="Example of an maternity exemption certificate card in its entirety with all details displayed clearly" width="600" height="800">

 
      
 
        
          
 
      
 
        
 
      
        

 
        
 
        
 
            
      </div>       
    </div>
    
</main>

{% endblock %}