{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    

  
    <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
          <a class="link-back" href="proof-of-benefit">Back</a>
      </div>
    </div>
    
    <div class="grid-row">
    
    <div class="column-two-thirds">
               <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
    <h1 class="heading-large">Examples of proof you can send us</h1>
        </div>
                <h1 class="heading-small">A clear scan or photographed image of your exemption certificate card</h1>
        
 
        
 
      
 
        
          
 
      
 
        
 
      
        

 
        
 
        
 
            
      </div>       
    </div>
    
</main>

{% endblock %}