{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">
          We found an HC3 certificate but you need to pay the HC3 amount.  
        </h1>
      </div>
        
        <p>You now owe the HC3 amount. This is shown in box D on your certificate.</p>

      <h2 class="heading-medium">What to do next</h2>


        Pay the HC3 amount shown in box D on your certificate.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
        

      
      </div>
      
    </div>      
    
</main>

{% endblock %}
