{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">
          We found an HC3 certificate but you haven't paid the maximum payment.  
        </h1>
      </div>
        
        <p>This could have occured due to a change in circumstance that lead to you receiving a new HC3 certificate with a higher HC3 amount. This is shown in box D on the certificate.</p>
        
        <p>You now owe the remainder of the HC3 amount.</p>

      <h2 class="heading-medium">What to do next</h2>


<!--    <ul class="list list-bullet">-->
<!--
         <li>
        Send us proof to show that you were entitled to free or reduced cost NHS dental treatment between 1 November and 30 November 2017.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to send proof">
        </div>
        </li>
-->
<!--        <li>-->
        Pay the the remainder of the HC3 amount.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
<!--
      </li>


    </ul>
-->

<!--<p>If you were not entitled to free or reduced cost NHS dental treatment but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a>-->

      
      </div>
      
    </div>      
    
</main>

{% endblock %}
