{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
            <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
      
    <div class="column-full">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">
          We found an HC3 certificate with a higher contribution amount.  
        </h1>
      </div>
        
      </div>
        
        <div class="column-two-thirds">
            
                    <p>This could have occured due to a change in circumstance that lead to you receiving a new HC3 certificate with a higher HC3 contribution amount than you have paid.</p>
        
        <p>You still owe the original PCN amount</p>

      <h2 class="heading-medium">What to do next</h2>

        Pay the the original PCN amount.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>

        
              <h3 class="heading-medium">
        How to avoid a future Penalty Charge Notice
      </h3>
      
      <ul class="list list-bullet">
       <li>
         Check the from and until dates to ensure your HC3 certificate is valid at the time of your treatments 
        </li>
                 <li>
         Check the HC3 contribution amount on your HC3 certificate. If the dental treatment charge is higher, you must pay the HC3 contribution amount 
        </li>
                  <li>
          Make sure your name and address are correct at your dental practice and on your NHS exemption
        </li>
      </ul>
        
                <p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a></p>

      
      </div>
      
                <div class="column-third right-floater">

      <div class="payment-summary-small2">

        <h2>New Penalty Charge Notice amount</h2>

          <table class="chargesTable">
  <tr>
            <td>Dental treatment charges</td>
      <td></td>
    <td>£59.10</td> 
  </tr>
  <tr>
    <th>HC3 Contribution</th>
      <th></th>
    <th>£30</th> 
  
              </tr>
              
                <tr>
    <td>Amount you should’ve paid</td>
      <td></td>
    <td>£30</td> 
              </tr>
              
                              <tr>
    <th>Amount you’ve already paid</th>
      <th></th>
    <th>£10</th> 
  </tr>
                              <tr>
    <td>Outstanding Treatment Charge</td>
      <td></td>
    <td>£20</td> 
  </tr>
              
                <tr>
    <th>Penalty charge</th>
      <th></th>
    <th>£100</th> 
  </tr>
                <tr>
    <td><span class="strong">Total amount</span></td>
      <td></td>
    <td><span class="strong">£120</span></td> 
  </tr>
</table>
      </div>

    </div>
      
    </div>      
    
</main>

{% endblock %}
