{% extends "layout_bsa.html" %}
{% block page_title %}
Pay a Penalty Charge Notice
{% endblock %}
{% block content %}

<style type="text/css">

p.dash:before { 
content: "-"; 
margin-right:10px;
float: left;
}

</style>

<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <!--<div class="column-third right-floater">
         <div class="payment-summary-small">
            <h2>Payment summary</h2>
            <h3>First payment</h3>
            <p class="payment-info">£21.05</p>
            <h3>Followed by 5 monthly payments of</h3>
            <p class="payment-info">£21.07</p>
            <h3>First payment</h3>
            <p class="payment-info"><span class="name">XX</span> January 2019</p>
            <h3>Last payment</h3>
            <p class="payment-info"><span class="name">XX</span> June 2019</p>
         </div>
         </div> -->
      <div class="column-two-thirds left-floater">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
               There is an error
            </h2>
            <p>
               You need to:
            </p>
            <ul class="error-summary-list">
               <li><a href="#error-message">Check the account number and sort code - we could not verify your details.</a></li>
            </ul>
         </div>
         <div class="text">
            <div class="heading-group">
               <p>Pay an NHS Penalty Charge Notice</p>
               <h1 class="heading-large">
                  Enter bank details
               </h1>
            </div>
         </div>
         <p>Equifax will perform a check to verify the bank account details you give us. A record of this will be left on your credit record for 12 months but will not affect your credit rating</p>
         <form class="form" method="get" action="confirm">
            <!-- <div class="form-group">
               <label class="form-label-bold" style ="padding: 10px 0;" for="cardnumber">Account number</label>
               <input class="form-control medium-width" id="cardnumber" name="cardnumber" type="number" value="08579837">
               </div> -->
            <div class="form-group">
               <div class="form-group-error">
                  <span class="form-label-bold">Account number</span>
                  <span class="error-message">
                  Check the account number
                  </span>
                  <!-- <input class="form-control max-width" id="holdername" name="holdername" type="text" value="Mr John Marshall"> -->
                  <input type="text" class="form-control form-control-error" style="width: 340px;" id="name" name="name" value="08579837">
                  <!-- <input class="form-control-1-8 form-control-error" id="ref" name="ref" type="text"> -->
                  <br>
               </div>
               <!-- <label class="form-label-bold" for="holdername">
                  Account holder's name
                  </label>
                  <input class="form-control max-width" id="holdername" name="holdername" type="text" value="Mr John Marshall"> -->
            </div>
            <!-- 
               <div class="form-group">
               
                  <div class="form-group-error">
                     <span class="error-message">
                     Enter the sort code
                     </span> -->
            <!--  <legend>
               <span class="form-label-bold">Sort code</span>
               </legend> -->
            <!--                <div class="form-date">
               <div class="form-group form-group-day">
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="01">
               </div>
               <div class="form-group form-group-day">
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="20">
               </div>
               <div class="form-group form-group-day">
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="54">
               </div>
               </div>
               </div>
               </div> -->
            <div class="form-group form-group-error">
               <fieldset>
                  <!-- <legend>
                     <span class="heading-medium">
                     What is your date of birth?
                     </span>
                     <span class="form-hint">For example, 31 07 1961</span>
                     </legend> -->
                  <!-- <br> -->
                  <span class="form-label-bold">Sort code</span>
                  <span class="error-message">
                  Check the sort code
                  </span>
                  <div class="form-date">
                     <div class="form-group form-group-day">
                        <!-- <label class="form-label" for="dob-day">Day</label> -->
                        <input class="form-control-error" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="01">
                     </div>
                     <div class="form-group form-group-day">
                        <!-- <label class="form-label" for="dob-month">Month</label> -->
                        <input class="form-control-error" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="20">
                     </div>
                     <div class="form-group form-group-day">
                        <!-- <label class="form-label" for="dob-year">Year</label> -->
                        <input class="form-control-error" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016" value="54">
                     </div>
                  </div>
               </fieldset>
            </div>
            <div class="form-group">
               <label class="form-label-bold" for="holdername">
               Account holder's name
               </label>
               <input class="form-control max-width" id="holdername" name="holdername" type="text" value="Mr John Marshall">
            </div>
            <details>
               <summary>
                  <span class="summary">View the Direct Debit Guarantee</span>
               </summary>
               <div class="panel panel-border-narrow">
                  <p>
                     <img src="/public/images/ddlogo.png">
                  </p>
                  <h2 class="heading-small">The Direct Debit Guarantee</h2>
                  <br>
                  <div class="dash">
                     <ul class="list list-bullet" style="margin-bottom: 0;">
                        <li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits</li>
                        <br>
                        <li>If there are any changes to the amount, date or frequency of your Direct Debit NHS Business Services Authority will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request NHS Business Services Authority to collect a payment, confirmation of the amount and date will be given to you at the time of the request</li>
                        <br>
                        <li>If an error is made in the payment of your Direct Debit, by NHS Business Services Authority or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society</li>
                     </ul>
                     <p class="dash" style="margin: 0;">
                        <ul class="list list-bullet" style="margin-top: 0;">
                           <p >If you receive a refund you are not entitled to, you must pay it back when NHS Business Services Authority asks you to</p>
                        </ul>
                     </p>
                     <ul class="list list-bullet">
                        <li>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify us.</li>
                     </ul>
                  </div>
               </div>
            </details>
            <br>
            <p>You will confirm your Direct Debit set-up on the next page.</p>
            <div class="form-group">
               <input class="button" type="submit" value="Next">
            </div>
            <div class="back">
               <p class="navigation"><a class="cancel" href="pcnPage">Cancel</a></p>
            </div>
         </form>
      </div>
   </div>
</main>
{% endblock %}