{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    <div class="heading-group">
        
      <p>Challenge an enquiry letter</p>
      
  <div class="grid-row">
    
    <div class="column-two-thirds">
    </div>
  </div>
         
    <h1 class="heading-xlarge">We cannot find your details</h1>
      
    <p>
    </div>
  </div>
      The information you have given us does not prove you were entitled to free prescriptions between 1 November and 30 November 2017.
    </p>
            
    <h3 class="heading-medium">What to do next</h3>

    <p>
   
    </p>

    
            
        
Send us proof to show that you were entitled to free prescriptions or had a valid prescription prepayment certificate between 1 November and 30 November 2017.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to send proof">
        </div>
      </li>

    </ul>
        
        <p> If you do not send us proof, or we can not find your exemption, you will be sent a penalty charge notice.
          <p></p>
          If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your enquiry letter. <a href="">Find out if you can ask for a review.</a></p>
      
    </div>
    
  </div>
  <ul class="list options-list">
    <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
  </ul> 
  
  </div>
  <h2 class="heading-medium">Feedback</h2>
  
   <p>
     Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.
   </p>
   <p>
     <a class="" href="feedback">Leave feedback</a>
   </p> 
       
   <p id="usermail"class="visually-hidden">{{hasmail}}</p>
       </div>
     
   </div>
</main>

{% endblock %}