{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge an enquiry letter</p>
        <h1 class="heading-large">
          Your exemption certificate was not valid at the time you claimed 
        </h1>
      </div>
        
        <p>This may have been because your certificate had expired or you didn't get the certificate in time.</p>

      <h2 class="heading-medium">What to do next</h2>

    

    
Send us proof to show that you were entitled to free or reduced cost dental treatment between 1 November and 30 November 2017. 
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to send proof">
        </div>
        </li>
      
        <p>If you do not send us proof, or we cannot find your exemption, you will be sent a penalty charge notice.  

<p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made the claim, you can ask us to review your penalty charge notice. <a href="">Find out if you can ask for a review.</a>
    
          <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul>

    </p>
  </div>
  </div>
  </div>
  <h2 class="heading-medium">Feedback</h2>
  <p>
    Leaving feedback only takes 5 minutes. Your comments are extremely helpful <br>and will help us to provide a better service.
  </p>
  <p>
    <a class="" href="feedback">Leave feedback</a>
  
        
      </div>
      </div>
    
  </main>
  
      </div>
      
    </div>      
    
</main>

{% endblock %}
