{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
        
              <div class="heading-group">
        <p>Challenge an enquiry letter</p> 
    <h1 class="heading-large">We need proof you were named on a claim for Income-based Jobseeker's Allowance between 1 November and 30 November 2017.</h1>
        </div>
        
        
        
<div class="panel panel-border-wide">
  <p>
    You have 14 days from today to send us your proof.
  </p>
</div>
        
                        <form action="end-pages-updated/proof/isesa-proof-scen0">
<!--
            Send us proof that you were named on a claim for Income Support or income-related Employment and Support Allowance. If your proof is valid you won’t have to pay your Penalty Charge.
            <br>       
-->
            <div class="form-group" style="margin-top:0.5em">
                <input class="button" type="submit" value="How to send us proof">
            </div>
        </form>
                   
<!--    <h2 class="heading-medium">What to do next</h2>-->

<!--
    <p>
     Choose one of the following options:
    </p>
-->




        
<p>If you do not send us proof, or we cannot find your exemption, you will be sent a penalty charge notice. 

</p>

        <p>If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your enquiry letter. <a href="">Find out if you can ask for a review.</a></p>
        
                <ul class="list options-list">         
            <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>       
        </ul>
        
    </div>
    
  </div>

</main>

{% endblock %}