{% extends "layout_bsa.html" %}
{% block page_title %}
Challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div>
   <div class="grid-row">
      <div class="column-two-thirds">
         <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
               There is an error
            </h2>
            <p>You need to:</p>
            <ul class="error-summary-list">
               <li><a href="#error-message">Enter a reference number</a></li>
            </ul>
         </div>
         <div class="heading-group">
            <p>Pay or challenge a Penalty Charge Notice</p>
            <h1 class="heading-large">What is your Penalty Charge Notice reference number?</h1>
         </div>
         <p>Enter the reference number on your Penalty Charge Notice letter.</p>
         <form action="#" method="get" class="form">
            <div class="form-group-error">
               <span class="error-message">
               Enter a reference number
               </span>
               <input type="text" class="form-control form-control-error" id="name" name="name" value="">
            </div>
            <br>
            <div class="form-item-wrapper">
               <div class="form-group">
                  <input class="button" type="submit" value="Next">
               </div>
            </div>
            <p class="navigation"><a class="cancel" href="#">Cancel</a></p>
         </form>
      </div>
   </div>
</main>
{% endblock %}