{% extends "layout_bsa.html" %}
{% block page_title %}
Pay an NHS Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div class="done-panel">
            <!-- If the user is paying the full amount or they are making a single instalment payment then display the amount paid -->
            <h1 class="heading-large"><span id="done-tick"> </span>Done</h1>
            <h2 class="heading-medium">
               You have set up a Direct Debit to pay your penalty charge
            </h2>
         </div>
         {% if (instalments != 1) %}
         <p>You will receive a letter confirming your Direct Debit details.</p>
         <h3 class="heading-medium">First payment</h3>
         <p>Your first payment of £XX.XX will be taken on XX January 2019.</p>
         {% endif %}
         {% if (instalments != 1) %}
         <h3 class="heading-medium">Next payment</h3>
         <p>Your next payment of £XX.XX will be taken on XX February 2019.</p>
         <p>As long as you keep up payments there will be no further charges added to your account.</p>
         {% endif %}
         <h3 class="heading-medium">How to avoid penalties in the future</h3>
         <ul class="list list-bullet">
            <li>Make sure that your GP and dentist have your correct home address</li>
            <li>If you receive benefits or have an exemption certificate, make sure that the relevant organisations have your correct home address</li>
            <li>If you have an exemption certificate, make sure it does not expire</li>
            <li>For more information visit <a href="https://www.nhsbsa.nhs.uk/penaltycharges" target="_blank">www.nhsbsa.nhs.uk/penaltycharges</a></li>
         </ul>
         {% if (instalments != 1) %}
        
         {% endif %}
         <h2 class="heading-medium">Feedback</h2>
         <p>
            Help us improve the service by <a class="" href="">answering some questions</a> about it.
         </p>

          <ul class="list options-list">
            <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
         </ul>
      </div>

   </div>
   <p id="usermail"class="visually-hidden">{{hasmail}}</p>
</main>
{% endblock %}