{% extends "layout_bsa.html" %}
{% block page_title %}
Challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div>
   <div class="grid-row">
      <div class="column-full">
         <div class="heading-group">
            <h1 class="heading-xlarge latency">We are processing your details</h1>
         </div>
         <p class="latency">This may take a moment.</p>
         <br>
         <br>
         <img class="latencyImg" src="/public/images/spinner.gif">
      </div>
   </div>
</main>
{% endblock %}