{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">
          You’ve told us that you were pregnant at the time you claimed free or reduced cost dental treatment, or you had given birth in the previous 12 months  
        </h1>
      </div>

        
        <p>If you were pregnant at the time or had given birth in the previous 12 months you were entitled to free or reduced cost dental treatment.</p>

    <h3 class="heading-medium">What to do next</h3>

    <p>
    You have the following options:
    </p>

    <ul class="list list-bullet">
        
              <li>
Send proof that you were pregnant at the time you claimed free or reduced cost dental treatment, or had given birth in the previous 12 months. If you send us valid proof, you won’t have to pay anything.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to send proof">
        </div>
      </li>
            <li>
        Pay the total amount of £168.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </li>


    </ul>

<p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a>
    
          <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul>

      
      </div>
      
    </div>      
    
</main>

{% endblock %}
