{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="phase-banner">
        
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
        
      </div>
      
      <div class="heading-group">
        
        <p>Challenge an enquiry letter</p>
        
        <h1 class="heading-xlarge">Enquiry letter reference 01234567890</h1>
        
      </div>
      
      <div class="panel panel-border-wide">
        
        <h3 class="heading-medium">Don’t delay</h3>
        
        <p>
          You now have <span class="strong">28 days</span> to challenge your enquiry letter (by 28 March 2018). Doing this could help us resolve the issue and stop you getting a penalty charge.
        </p>
        
      </div>
        
      
    </div>
      
      
    
  </div>
    
  <div class="grid-row">
    
    <div class="column-half">
      
      <div class="info-panel highlight ">
        
        <h2 class="heading-large">Check your details carefully</h2>
        
          <table class="chargesTable">
  <tr>
            <td>We take the details from your dental charge form and check these against
              the details on your exemption certificate or qualifying benefit.
      
<p>
  <p></p>
              
  Check that your name, date of birth and address are correct on these and match.
  <p>
    <p></p>
    Then answer some questions to help us resolve this issue. 
  </tr>
  <tr>
    
  </tr>
</table>
        
          <br>
          <br>
                    <br>
          <br>
                    <br>
          <br>
                    <br>

                         
      </div>   
      
    </div>

    
    <div class="column-half">
      
      <div class="info-panel">
        
          <h2 class="heading-medium"> 
        Date dental charge was claimed
          </h2>
          
          <p>Between 1 November and 30 November 2017</p>
          
          <h2 class="heading-medium">
            Details on the dental charge form
          </h2>
          
                    <table>

  <tr>
    <td><span class="strong">Name</span></td>

    <td>Michelle Doe</td> 
  </tr>
  <tr>
    <td><span class="strong">Address</span></td>

    <td>12 Old Oak Road, Throckley, NE67 9AD</td> 
  </tr>

                                        <tr>
    <td><span class="strong">Exemption reason ticked</span></td>

<td>Has a valid medical exemption</td> 
  </tr>
</table>
            
</div>
          
</div>

</div>

<div class="grid-row">

<div class="column-full">

<div class="info-panel highlight">

<h2 class="heading-large">Challenge</h2>
                          
                                    
                            
          
          </h2>
          
          <p>You can not challenge your enquiry letter online at the moment. 
          </p>
          If you have been asked to send proof to help us review your case, you should
          send us this as soon as possible.
<!--  <div class="panel2">
      <div class="callout callout--attention"> -->
          <div class="panel2">
          <div class="callout" >
             
          <details>           
          <summary><span class="summary"></span>If you still need to contact us about your enquiry letter</span></summary>
          <div class="panel panel-border-narrow"> 
          <p>When you contact us you need to include your reference number. This is in the top left-hand corner of your enquiry letter:</p>
  
  <!--
  <h3 class="heading-small">For prescriptions</h3>
  <ul class="list list-bullet"> 
  <li>Call us on 0300 330 9291 (this call will be charged at a local rate)</li>
  <li>Email us at <a href="mailto:nhsbsa.pecs@nhsbsa.nhs.uk">nhsbsa.pecs@nhsbsa.nhs.uk</a></li>
  </ul>
  
  <h3 class="heading-small">For dental treatment</h3>
  -->
  <ul class="list list-bullet"> 
  <li>Call us on 0300 330 1293 (this call will be charged at a local rate)<br>Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm.</li>
  <li>Email us at <a href="mailto:nhsbsa.decs@nhsbsa.nhs.uk">nhsbsa.decs@nhsbsa.nhs.uk</a></li>
  </ul>
   
            </div>
          </details>
 
                    
          
        
 
    
    
     
   
 

          
        </div>
          
        </div>
        
      </div>
     
        <div>
          
        <div></div>
          
            
            

          
                                                                                                                   </form>

 

          
          
        
            
              

 

          </div>
        </details>
          
        </div>
          
        </div>
        
      </div>
      
    </div>
      
  
</main>

{% endblock %}