{% extends "layout_bsa.html" %}
{% block page_title %}
Pay an NHS Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div class="done-panel">
            <!-- If the user is paying the full amount or they are making a single instalment payment then display the amount paid -->
            <h1 class="heading-large"><span id="done-tick"> </span>Thank you</h1>
            <h2 class="heading-medium">
               You have paid £20.00 towards your Penalty Charge Notice
            </h2>
         </div>
         <h3 class="heading-medium">Payment confirmation</h3>
         <p>We’ve received your payment towards your Penalty Charge Notice.</p>


         <p class="panel panel-border-wide">
          Penalty Charge Notice reference number:<br>
          <span class="strong">123456789</span><br><br>
            So far you've paid:<br>
            <span class="strong">£25.00</span><br><br>
            You still need to pay:<br>
            <span class="strong">£43.60</span><br>
         </p>



       <!--   <p class="panel panel-border-wide">
          <span class="strong">Payment reference no. 123456789</span><br><br>
            Prescription charge: £8.60<br>
            Penalty charge: £60<br>
            <span class="strong">Total amount: £68.60</span>
            <br><br>
            Amount you've paid so far (including today's payment)
            So far you've paid: 
            £25.00<br>
            <span class="strong">Amount still to pay: £43.60</span>
         </p> -->

         <br>
         <p>Pay the remaining amount of <span class="strong">£43.60</span></p>
         <form class="form" action="#">
            <div class="form-group">
               <input class="button" type="submit" value="Make another payment">
            </div>
         </form>
         <br><br>
         <ul class="list options-list">
            <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
         </ul>
         <!-- <h3 class="heading-medium">What you need to do next</h3>
         <p>Continue making payments as agreed in your payment plan.</p>
         <p>You won’t get any further charges if you maintain these payments.</p> -->
         <h3 class="heading-medium">How to avoid a penalty charge in the future</h3>
         <p>Make sure that your:</p>
         <ul class="list list-bullet">
            <li>GP surgery, dental practice and any relevant benefits organisations have your correct home address</li>
            <li>exemption certificate or prescription prepayment certificate is still valid, if you have one</li>
         </ul>
         <p>You can <a href="www.nhsbsa.nhs.uk/penaltycharges">view more information on penalty charges</a></p>
         <h2 class="heading-medium">Feedback</h2>
         <p>
            Answer a few questions to <a href="#">help us improve this service</a>.
         </p>
      </div>
   </div>
   <p id="usermail"class="visually-hidden">{{hasmail}}</p>
</main>
{% endblock %}