{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">This online service is temporarily unavailable</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
                
        <p>
          We are currently performing essential maintenance to improve this service.
        </p>
          
          <p>You can still pay your penalty. You will need a debit or credit card.</p>
          
          <form class="form" action="#">
              
        <div class="form-group">
          <input class="button" type="submit" value="Pay">
        </div>
                                                  </form>
          
          <p>Try again later if you have any other queries. Or, you can contact us:</p>
        
              <div class="panel panel-border-wide">        
        <p>
            <span class="strong">
                For a prescription Penalty Charge Notice
            </span>
        </p>
                  
                                 <p>
Call us on: 0300 330 9291 (this call will be charged at a local rate)
        </p> 
                  <p>Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm.</p>
                    <p>Email us at: nhsbsa.pecs@nhsbsa.nhs.uk</p>
                  
                  
                  
      </div>
        
              <div class="panel panel-border-wide">        
        <p>
            <span class="strong">
For a dental treatment Penalty Charge Notice
            </span>
        </p>
                  
                                                    <p>
Call us on: 0300 330 1293 (this call will be charged at a local rate)
        </p>
                  <p>Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm.</p>
                    <p>Email us at: nhsbsa.decs@nhsbsa.nhs.uk</p>
                  
                  
                  
      </div>
        
      </div>
      
 </div>
      
    </div>
  
</main>

{% endblock %}
