{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">Something's gone wrong</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
                
        <p>
          This page can't be found. Check the link you're using and try again. 
        </p>
        
        <p>
          Go to the <a href="#">start page</a> to try again or call us on: 0300 330 1293 

        </p>
        
      </div>
      
 </div>
      
    </div>
  
</main>

{% endblock %}
