{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <p>
      <a href="index"> Back to all prototypes</a>
   </p>
   <div class="heading-group">
      <p>Challenge Prototype</p>
      <h1 class="heading-xlarge">
         Direct Debits
      </h1>
   </div>
   <div class="panel panel-border-narrow">
      <p style="color: red;">Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.</p>
   </div>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <th>January 2019</th>
            <th></th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
              <ul class="list list-bullet">
                <li><a href="payments/dd_v2/start">Full journey - V. 3</a></li>
                <li><a href="public/images/prototypes/dd/dd_journey_v2.pdf">Full journey - V. 2 (PDF)</a></li>
              </ul>
            </td>
          </tr>        
         <tr>
            <td>
              <p>Secure PCN verification</p>
              <ul class="list list-bullet">
                <li><a href="payments/dd_v2/pcnVerifV1">V.1 - User inputs PCN number twice on the same screen</a></li>
                <li><a href="payments/dd_v2/pcnVerifV2_1">V.2 - User re-enters PCN number on next screen</a></li>
                <!--<li><a href="#">v.3 - ...</a></li>--> 
              </ul>
            </td>
         </tr>
         <tr>
            <td>
              <p>Direct Debit options breakdown</p>
              <ul class="list list-bullet">
                <li><a href="payments/dd_v2/optionsTable">Monthly payment breakdown</a></li>
              </ul>
            </td>
         </tr>
         <tr>
            <td>
              <p>Direct Debits guidance page</p>
              <ul class="list list-bullet">
                <li><a href="payments/dd_v2/plan-info_v2">Alternate version</a></li>
              </ul>
            </td>
         </tr>

         <!--
         <tr>
            <td>
              <p>Kick-out pages</p>
              <ul class="list list-bullet">
                <li><a href="#">-</a></li>
              </ul>
            </td>
         </tr>         
         <!--<tr>
            <td><a href="payments/dd_v2/start">Version 2</a></td>
            <td class="right"><a href="#"></a></td>
         </tr>-->         

      </tbody>
   </table>
   <br>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <th>December 2018</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
              <ul class="list list-bullet">
                <li><a href="payments/dd/start">Full journey - V. 1</a></li>
              </ul>
            </td>
         </tr>
         <tr>
            <td>
              <p>Check Your Answers pages</p>
              <ul class="list list-bullet">
                <li><a href="payments/dd/checkYourAnswersPcn">Check Your Answers</a></li>
                <li><a href="payments/dd/checkYourAnswersPcnUnverified">Answers not verified</a></li>
              </ul>
            </td>
         </tr>
      </tbody>
   </table>
   <br>
</main>
{% endblock %}