{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<!-- bsa table style overrides -->
<style>
   table tr td {
   border: none;
   display: table-cell;
   vertical-align: text-top;
   padding: 2rem 3rem 0 0;
   }
   table tr td:nth-child(1) {
   width: 30%;
   }
   table tr td:nth-child(2) {
   padding-right: 3rem;
   width: 30%; 
   }
   table tr td:nth-child(3) {
   padding-right: 3rem;
   }
</style>
<main id="content" role="main">
   <p>
      <a href="index"> Back to all prototypes</a>
   </p>
   <div class="heading-group">
      <p>DWP Challenge</p>
      <h1 class="heading-xlarge">
         Page by page breakdown
      </h1>
   </div>
   <div class="panel panel-border-narrow">
      <p style="color: red;">Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.</p>
   </div>
   <table class="check-table" id="review-table-one">
      <thead>
         <tr>
            <th id="viewPages"> DWP Enquiry Letter Start</th>
            <th>Page Title</th>
            <th>URL</th>
            <th class="right" style="padding-right:0px;">JIRA ticket number</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/start.html"> Enquiry Start</a>
            </td>
            <td>Respond to your letter</td>
            <td>/enquiry-letter-challenge/start</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-3964">PA233-3964</a>
            </td>
         </tr>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/enter-reference-number.html">What is your reference number</a>
            </td>
            <td>Respond to your letter</td>
            <td>/enter-reference-number</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-4182">PA233-4182</a>
            </td>
         </tr>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/enter-reference-again.html">Enter your reference number again</a>
            </td>
            <td>Respond to your letter</td>
            <td>/enter-reference-again</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-4193">PA233-4193</a>
            </td>

         </tr>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/confirm-identity.html">Confirm your identity</a>
            </td>
            <td>Respond to your letter</td>
            <td>/confirm-identity
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-4055">PA233-4055</a>
            </td>

         </td>
      </tr>
   </tbody>
   </table>
   <br>
   <table class="check-table" id="review-table-one">
   <thead>
   
   </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="breakdown/enquiry-letter-challenge/enter-postcode.html">Enter your postcode</a>
         </td>
         <td>Respond to your letter</td>
         <td> /enter-postcode</td>
         <td class="right">
            <a href="https://bsa2468.atlassian.net/browse/PA233-3950">PA233-3950</a>
         </td>
      </tr>
   </tbody>
   <tr>

    
   
     

<tr>
   <th>DWP Challenge View Pages</th>
   <th>Page Title</th>
   
   <th>URL</th>

   <th class="right" style="padding-right:0px;">JIRA ticket number</th>
</tr>
</thead>
<tbody>
<tr>
</tr>
</thead>
<tbody>
<tr>
   <td>
      <a href="breakdown/dwp-challenge/view-dwp-challenge-pecs.html"> DWP View enquiry letter PECS</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /view-enquiry-challenge-pecs</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
   </td>
</tr>
</tbody>


   <td>
      <a href="breakdown/dwp-challenge/dwp-info-page.html"> DWP View enquiry letter info page</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /view-enquiry-challenge-pecs</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
   </td>
</tr>
</tbody>
         <tr>

            <td>
               <a href="breakdown/dwp-challenge/dwp- were-you-claiming-isa.html"> DWP were you claiming ISA</a>
            </td>
            <td>Challenge an enquiry letter</td>
            <td> /view-enquiry-challenge-pecs</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
            </td>
         </tr>
         </tbody>
                  <tr>
       
                     <td>
                        <a href="breakdown/dwp-challenge/dwp-check-name-uc.html"> Is this how your name is written on your UC DWP benefit</a>
                     </td>
                     <td>Challenge an enquiry letter</td>
                     <td> /view-enquiry-challenge-pecs</td>
                     <td class="right">
                        <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                     </td>
                  </tr>
                  </tbody>
                           <tr>
                              <td>
                                 <a href="breakdown/dwp-challenge/dwp-check-dob.html"> Is this your D.O.B on your DWP benefit</a>
                              </td>
                              <td>Challenge an enquiry letter</td>
                              <td> /view-enquiry-challenge-pecs</td>
                              <td class="right">
                                 <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                              </td>
                           </tr>
                           </tbody>
                                    <tr>
                                       <td>
                                          <a href="breakdown/dwp-challenge/dwp -check-address.html"> Is this your address on your DWP benefit</a>
                                       </td>
                                       <td>Challenge an enquiry letter</td>
                                       <td> /view-enquiry-challenge-pecs</td>
                                       <td class="right">
                                          <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                       </td>
                                    </tr>
                                    </tbody>
                                             <tr>
                                                <tr>
                                                   <td>
                                                      <a href="breakdown/dwp-challenge/dwp -check-your-answers.html"> DWP check your answers</a>
                                                   </td>
                                                   <td>Challenge an enquiry letter</td>
                                                   <td> /view-enquiry-challenge-pecs</td>
                                                   <td class="right">
                                                      <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                   </td>
                                                </tr>
                                                </tbody>
                                                         <tr>
                                                            <td>
                                                               <a href="breakdown/dwp-challenge/dwp-exemption-found.html"> DWP exemption found</a>
                                                            </td>
                                                            <td>Challenge an enquiry letter</td>
                                                            <td> /view-enquiry-challenge-pecs</td>
                                                            <td class="right">
                                                               <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                            </td>
                                                         </tr>
                                                         </tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <a href="breakdown/dwp-challenge/dwp-update-address-uc.html"> DWP UC update address</a>
                                                                     </td>
                                                                     <td>Challenge an enquiry letter</td>
                                                                     <td> /view-enquiry-challenge-pecs</td>
                                                                     <td class="right">
                                                                        <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                                     </td>
                                                                  </tr>
                                                                  </tbody>
                                                                           <tr> 
                                                                              <td>
                                                                                 <a href="breakdown/dwp-challenge/dwp-update-dob.html"> DWP UC update D.O.B.</a>
                                                                              </td>
                                                                              <td>Challenge an enquiry letter</td>
                                                                              <td> /view-enquiry-challenge-pecs</td>
                                                                              <td class="right">
                                                                                 <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                                              </td>
                                                                           </tr>
                                                                           </tbody>
                                                                                    <tr>        
                                                                                       <td>
                                                                                          <a href="breakdown/dwp-challenge/dwp-update-name.html"> DWP UC update name</a>
                                                                                       </td>
                                                                                       <td>Challenge an enquiry letter</td>
                                                                                       <td> /view-enquiry-challenge-pecs</td>
                                                                                       <td class="right">
                                                                                          <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                                                       </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                             <tr>   
                                                                                                <td>
                                                                                                   <a href="breakdown/dwp-challenge/dwp- we-need-proof-uc.html"> DWP UC send proof</a>
                                                                                                </td>
                                                                                                <td>Challenge an enquiry letter</td>
                                                                                                <td> /view-enquiry-challenge-pecs</td>
                                                                                                <td class="right">
                                                                                                   <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                                                                </td>
                                                                                             </tr>
                                                                                             </tbody>
                                                                                                      <tr>  
                                                                                                         <td>
                                                                                                            <a href="breakdown/dwp-challenge/dwp-did-you-bsa.html"> DWP did you have a BSA Exemption</a>
                                                                                                         </td>
                                                                                                         <td>Challenge an enquiry letter</td>
                                                                                                         <td> /view-enquiry-challenge-pecs</td>
                                                                                                         <td class="right">
                                                                                                            <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                                                                         </td>
                                                                                                      </tr>
                                                                                                      </tbody>
                                                                                                               <tr>       
                                                                                                                  <td>
                                                                                                                     <a href="breakdown/dwp-challenge/dwp-exemptions.html"> DWP did you have a DWP Exemption</a>
                                                                                                                  </td>
                                                                                                                  <td>Challenge an enquiry letter</td>
                                                                                                                  <td> /view-enquiry-challenge-pecs</td>
                                                                                                                  <td class="right">
                                                                                                                     <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
                                                                                                                  </td>
                                                                                                               </tr>
                                                                                                               </tbody>
                                                                                                                        <tr>                                                                                             
   </td>
</tr>
</tbody>


      
   </thead>
   <tr>
</thead>
<tbody>
   <tr>
      <td>
         <tr>
         </tr>
      </tbody>
   </table>
   <br>
</main>
{% endblock %}