{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<!-- bsa table style overrides -->
<style>
   table tr td {
   border: none;
   display: table-cell;
   vertical-align: text-top;
   padding: 2rem 3rem 0 0;
   }
   table tr td:nth-child(1) {
   width: 30%;
   }
   table tr td:nth-child(2) {
   padding-right: 3rem;
   width: 30%; 
   }
   table tr td:nth-child(3) {
   padding-right: 3rem;
   }
</style>
<main id="content" role="main">
   <p>
      <a href="index"> Back to all prototypes</a>
   </p>
   <div class="heading-group">
      <p>Enquiry Letter Challenge</p>
      <h1 class="heading-xlarge">
         Page by page breakdown
      </h1>
   </div>
   <div class="panel panel-border-narrow">
      <p style="color: red;">Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.</p>
   </div>
   <table class="check-table" id="review-table-one">
      <thead>
         <tr>
            <th id="viewPages">Enquiry Letter Start</th>
            <th>Page Title</th>
            <th>URL</th>
            <th class="right" style="padding-right:0px;">JIRA ticket number</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/start.html"> Enquiry Start</a>
            </td>
            <td>Respond to your letter</td>
            <td>/enquiry-letter-challenge/start</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-3964">PA233-3964</a>
            </td>
         </tr>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/enter-reference-number.html">What is your reference number</a>
            </td>
            <td>Respond to your letter</td>
            <td>/enter-reference-number</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-4182">PA233-4182</a>
            </td>
         </tr>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/enter-reference-again.html">Enter your reference number again</a>
            </td>
            <td>Respond to your letter</td>
            <td>/enter-reference-again</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-4193">PA233-4193</a>
            </td>

         </tr>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/confirm-identity.html">Confirm your identity</a>
            </td>
            <td>Respond to your letter</td>
            <td>/confirm-identity
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-4055">PA233-4055</a>
            </td>

         </td>
      </tr>
   </tbody>
   </table>
   <br>
   <table class="check-table" id="review-table-one">
   <thead>
   
   </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="breakdown/enquiry-letter-challenge/enter-postcode.html">Enter your postcode</a>
         </td>
         <td>Respond to your letter</td>
         <td> /enter-postcode</td>
         <td class="right">
            <a href="https://bsa2468.atlassian.net/browse/PA233-3950">PA233-3950</a>
         </td>
      </tr>
   </tbody>
   <tr>
      <th>Enquiry Letter Challenge Pages</th>
      <th>Page Title</th>
      
      <th>URL</th>
   
      <th class="right" style="padding-right:0px;">JIRA ticket number</th>
   </tr>
</thead>
<tbody>
   <tr>
      <td>
         <a href="breakdown/enquiry-letter-challenge/start.html">Enquiry Start</a>
      </td>
      <td>Respond to your letter</td>
      <td> /enquiry-letter-challenge/start</td>
      <td class="right">
         <a href="https://bsa2468.atlassian.net/browse/PA233-3964">PA233-3964</a>
      </td>
   </tr>
</tbody>
</table>
<br>
<table class="check-table" id="review-table-one">
<thead>

   
   <tr>

   </tr>
</thead>
<tbody>
   <tr>
      <td>
         <a href="breakdown/enquiry-letter-challenge/enter-reference-number.html">What is your reference number</a>
      </td>
      <td>Respond to your letter</td>
      <td> /enter-reference-number</td>
      <td class="right">
         <a href="https://bsa2468.atlassian.net/browse/PA233-4182">PA233-4182</a>
      </td>
   </tr>
</tbody>
</table>
<br>
<table class="check-table" id="review-table-one">
<thead>
<tr>

</tr>
</thead>
<tbody>
<tr>
<td>
   <a href="breakdown/enquiry-letter-challenge/enter-reference-again.html">Enter your reference number again</a>
</td>
<td>Respond to your letter</td>
<td> /enter-reference-again</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-4193">PA233-4193</a>

<tbody>
  <tr>
     <td>



   <a href="breakdown/enquiry-letter-challenge/confirm-identity.html">Confirm your identity</a>
</td>
<td>Respond to your letter</td>
<td> /confirm-identity</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-4055">PA233-4055</a>
</tr>
</tbody>
</table>
<br>
<table class="check-table" id="review-table-one">
<thead>
<tr>

</tr>
</thead>
<tbody>
<tr>
<td>
   <a href="breakdown/enquiry-letter-challenge/enter-postcode.html">Enter your postcode</a>
</td>
<td>Respond to your letter</td>
<td> /enter-postcode</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-3950">PA233-3950</a>
</tr>
</tbody>
</table>
<br>
<table class="check-table" id="review-table-one">
<thead>
<tr>

</tr>
</thead>
<tbody>
<tr>

</tr>
</tbody>

</thead>
<tbody>
<tr>
<td>
   <a href="breakdown/enquiry-letter-challenge/unable-to-confirm-id.html">Unable to confirm ID check your answers</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /unable-to-confirm-id</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-4141">PA233-4141</a>
</td>
</tr>
</tbody>

  

  
</thead>
<tbody>
<tr>
<td>
   <a href="breakdown/enquiry-letter-challenge/what-happens-next.html">What happens next</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /enquiry-letter-fail</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-4173">?</a>
</td>
</tr>
</tbody>
</thead>
<tbody>
</td>
</tr>
</tbody>
   

</tr>
</tbody>

<tr>
<td>
<a href="breakdown/enquiry-letter-challenge/asking-for-a-review-pecs.html">Who can ask for a review PECS</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /asking-for-a-review-pecs</td>
<td class="right">
<a href="https://bsa2468.atlassian.net/browse/PA233-4171">PA233-4171</a>
</td>
</tr>
</tbody>

<tr>
<td>
<a href="breakdown/enquiry-letter-challenge/enquiry-review-pecs.html">Ask for a review PECS</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /how-review-enquiry-pecs</td>
<td class="right">
<a href="https://bsa2468.atlassian.net/browse/PA233-4014">PA233-4014</a>
</td>
</tr>
</tbody>

<tr>
<td>
<a href="breakdown/enquiry-letter-challenge/enquiry-review-decs.html">Ask for a review DECS</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /how-review-enquiry-pecs</td>
<td class="right">
<a href="https://bsa2468.atlassian.net/browse/PA233-4014">PA233-4014</a>
</td>
</tr>
</tbody>


<tr>
<td>
<a href="breakdown/enquiry-letter-challenge/asking-for-a-review-decs.html">Who can ask for a review DECS</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /asking-for-a-review-pecs</td>
<td class="right">
<a href="https://bsa2468.atlassian.net/browse/PA233-4171">PA233-4171</a>

<tr>
   <th>Enquiry Letter Challenge View Pages</th>
   <th>Page Title</th>
   
   <th>URL</th>

   <th class="right" style="padding-right:0px;">JIRA ticket number</th>
</tr>
</thead>
<tbody>
<tr>
</tr>
</thead>
<tbody>
<tr>
   <td>
      <a href="breakdown/enquiry-letter-challenge/view-enquiry-challenge-pecs.html">View enquiry letter PECS</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /view-enquiry-challenge-pecs</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
   </td>
</tr>
</tbody>


         <tr>

         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="breakdown/enquiry-letter-challenge/view-enquiry-challenge-decs.html">View enquiry letter DECS</a>
            </td>
            <td>Challenge an enquiry letter</td>
            <td> /view-enquiry-challenge-decs</td>
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-3951">PA233-3951</a>
            </td>
         </tr>
      </tbody>
      
      
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="breakdown/enquiry-letter-challenge/case-on-hold-view-decs.html">Case on hold view DECS</a>
         </td>
         <td>Challenge an enquiry letter</td>
         <td> /case-on-hold-view-decs</td>
         <td class="right">
            <a href="https://bsa2468.atlassian.net/browse/PA233-3953">PA233-3953</a>
         </td>
      </tr>
   </tbody>
   
</tr>
</thead>
<tbody>
<tr>
   <td>
      <a href="breakdown/enquiry-letter-challenge/case-on-hold-view-pecs.html">Case on hold view PECS</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /case-on-hold-view-pecs</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-3953">PA233-3953</a>
   </td>
</tr>
</tbody>




<tr>
<th>Enquiry Letter Challenge End Pages</th>
<th>Page Title</th>

<th>URL</th>

<th class="right" style="padding-right:0px;">JIRA ticket number</th>
</tr>
</thead>
<tbody>
<tr>
</tr>
</thead>
<tbody>
<tr>
<td>
   <a href="breakdown/enquiry-letter-challenge/eq-case-already-closed-pecs.html">Case already closed PECS</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /case-on-hold-view-pecs</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-4142">PA233-4142</a>
</td>
</tr>
</tbody>
</tr>
</thead>
<tbody>
<tr>
<td>
   <a href="breakdown/enquiry-letter-challenge/eq-case-already-closed-decs.html">Case already closed DECS</a>
</td>
<td>Challenge an enquiry letter</td>
<td> /eq-case-already-closed-decs</td>
<td class="right">
   <a href="https://bsa2468.atlassian.net/browse/PA233-4142">PA233-4142</a>
</td>
</tr>
</tbody>

</thead>
<tbody>
<tr>
<td>
</thead>
<tbody>
   <tr>
      <td>
         <a href="breakdown/enquiry-letter-challenge/enq-letter-fail.html">More information needed</a>
      </td>
      <td>Challenge an enquiry letter</td>
      <td> /enquiry-letter-fail</td>
      <td class="right">
         <a href="https://bsa2468.atlassian.net/browse/PA233-4173">PA233-4173</a>
      </td>
   </tr>
</tbody>

        
</thead>
<tbody>
   <tr>
      <td>
      </td>
   </tr>
</tbody>
</thead>
<tbody>
   <tr>
      <td>
         <a href="breakdown/enquiry-letter-challenge/cant-find-cert.html">We cant find your details</a>
      </td>
      <td>Challenge an enquiry letter</td>
      <td> /cant-find-cert</td>
      <td class="right">
         <a href="https://bsa2468.atlassian.net/browse/PA233-4153">PA233-4153</a>
      </td>
   </tr>
</tbody>
<tr>
   <td>
      <a href="breakdown/enquiry-letter-challenge/we-need-proof-dwp.html">We need proof DWP</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /we-need-proof</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-4150">PA233-4150</a>
   </td>
</tr>
</tbody>
   
<tr>
   <td>
      <a href="breakdown/enquiry-letter-challenge/proof.html">We need proof you were entitled PECS</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /proof</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-4170">PA233-4170</a>
   </td>
</tr>
</tbody>
<tr>
   <td>
      <a href="breakdown/enquiry-letter-challenge/proof-decs.html">We need proof you were entitled DECS</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /proof</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-4170">PA233-4170</a>
   </td>
</tr>
</tbody>
</td>
</tr>
</tbody>
<tr>
   <td>
      <a href="breakdown/enquiry-letter-challenge/proof-jobseekers.html">We need proof you were named on a claim for job seekers</a>
   </td>
   <td>Challenge an enquiry letter</td>
   <td> /proof</td>
   <td class="right">
      <a href="https://bsa2468.atlassian.net/browse/PA233-4170">PA233-4170</a>
   </td>
</tr>
</tbody>


   <tr>
            
      </table>
         </tr>
      </tbody>
   </table>
   <br>
   <table class="check-table" id="review-table-one">
      <thead>
         <tr>
            <th id="viewPages">Journeys</th>
            <th>Page Title</th>
            <th>URL</th>
            <th class="right" style="padding-right:0px;">JIRA ticket number</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="challenge/challengePecs/start.html">Challenge Page PECS</a>
            
            <td class="right">
               <a href="https://bsa2468.atlassian.net/browse/PA233-3964"></a>
            </td>
         </tr>
      </tr>
   </thead>
   <tr>
      <td>
         <a href="challenge/challengeDecs /start.html">Challenge Page DECS</a>
      
      <td class="right">
         <a href="https://bsa2468.atlassian.net/browse/PA233-3964"></a>
      </td>
   </tr>
</tr>
</thead>
      <tr>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="challenge/ChallengeOnHoldPecs/start.html">Challenge On Hold PECS</a>
         
         <td class="right">
            <a href="https://bsa2468.atlassian.net/browse/PA233-3964"></a>
         </td>
      </tr>
   </tr>

   </thead>
   <tbody>
      <tr>
         <td>
            <a href="challenge/ChallengeOnHoldDecs/start.html">Challenge On Hold DECS</a>
         
         <td class="right">
            <a href="https://bsa2468.atlassian.net/browse/PA233-3964"></a>
         </td>
      </tr>
   </tr>
</thead>
<tr>
   <td>
     
         </td>
         <td></td>
         <td></td>
         <td class="right">
      

</thead>
<tbody>
   <tr>
      <td>
         <tr>
         </tr>
      </tbody>
   </table>
   <br>
</main>
{% endblock %}