{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div>
   <h1 class="heading-xlarge">Penalty Charge Notices</h1>
   <h3 class="heading-large">Latest content for team reference</h3>
   <ul class="list list-bullet">
      <li><a href="breakdown">All pages</a></li>
      <li><a href="hc3">HC3 pages only</a></li>
      <li><a href="payments">Card Payments pages only</a></li>
      <li><a href="directDebitsPages">Direct Debits pages only</a></li>
   </ul>
   <h3 class="heading-large">Journeys for usability testing</h3>
   <ul class="list list-bullet">
      <li><a href="challenge">All journeys</a></li>
      <li><a href="hc3Journeys">HC3 journeys only</a></li>
      <li><a href="paymentJourneys">Gov Pay journeys only</a></li>
      <li><a href="directDebits">Direct Debits journeys only</a></li>
      <li><a href="contentImprov">Content improvements, Paid at Pharmacy, Pre-CN</a></li>
   </ul>
   <h3 class="heading-large">Experimental designs</h3>
   <ul class="list list-bullet">
      <li><a href="experiments">All pages</a></li>
      <li><a href="experiments/notify">Gov Notify</a></li>
      <li><a href="experiments/enter-pcn-number">PCN no. hint text</a></li>
      <li><a href="experiments/validate-charge">PCN amount hint text</a></li>
   </ul>
   <h3 class="heading-large">Other links</h3>
   <ul class="list list-bullet">
      <li><a href="https://suv.herokuapp.com/">Single User View</a></li>
      <li><a href="https://tlrs.herokuapp.com">Dynamic challenge prototype (journey mostly works, old content)</a></li>
      <li><a href="https://tlrs-alpha.herokuapp.com">Static journeys for GDS Alpha assessment</a></li>
   </ul>
</main>
{% endblock %}