{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <p>
      <a href="index"> Back to all prototypes</a>
   </p>
   <div class="heading-group">
      <p>Card Payments Prototype</p>
      <h1 class="heading-xlarge">
         Page by page breakdown
      </h1>
   </div>
   <div class="panel panel-border-narrow">
      <p style="color: red;">Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.</p>
   </div>
<!--    <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <th>Start pages</th>
            <th></th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="breakdown/penaltyView/penalty-view-pcgc">Penalty view (user has started paying)</a>
            </td>
            <td></td>
            <td class="right"><a href=""></a></td>
         </tr>
         <tr>
            <td><a href="breakdown/start/enter-pcn-number">Enter PCN number  (user goes directly into pay e.g. from error page)</a></td>
            <td></td>
            <td class="right"><a href=""></a></td>
         </tr>
          <tr>
            <td><a href="payments/amount">Enter amount (user goes directly into pay e.g. from error page)</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
            </tr>
      </tbody>
   </table>
   <br> -->
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <th>Payment pages</th>
            <th></th>
            <th>JIRA</th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><a href="payments/amount">Enter amount (updated content)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2860">PA233-2860</a>
            </td>
            <td class="right"></td>
         </tr>
         <tr>
            <td><a href="payments/error/amount1">Enter amount - error (amount too high)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2861">PA233-2861</a>
            </td>
            <td class="right"></td>
         </tr>
         <tr>
            <td><a href="payments/error/amount2">Enter amount - error (invalid format)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2861">PA233-2861</a>
            </td>
            <td class="right"></td>
         </tr>
         <tr>
            <td><a href="payments/error/amount3">Enter amount - error (blank form submitted)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2861">PA233-2861</a>
            </td>
            <td class="right"></td>
         </tr>
         <tr>
            <td><a href="payments/error/amount4">Enter amount - error (amount too low)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2861">PA233-2861</a>
            </td>
            <td class="right"></td>
         </tr>
      </tbody>
   </table>
   <br>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <th>Latency page</th>
            <th></th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="payments/latency">Latency message after user clicks Next on 'Amount' page</a>
            </td>
            <td></td>
            <td class="right"><a href=""></a></td>
         </tr>
         <tr>
      </tbody>
   </table>
   <br>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <th>Error pages</th>
            <th></th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="payments/unavCPS">Card Payment Services down<br>(work in progress)</a>
            </td>
            <td></td>
            <td class="right"><a href=""></a></td>
         </tr>
         <tr>
      </tbody>
   </table>
   <br>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
         <tr>
            <th>Successful Payments</th>
            <th></th>
            <th>JIRA</th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><a href="payments/endPages/paidFull">Paid in full</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2871">PA233-2871</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/paidPartially">Paid partially</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2870">PA233-2870</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
      </tbody>
      </tr>
      </thead>
   </table>
   <br>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
         <tr>
            <th>Failed payments</th>
            <th></th>
            <th>JIRA</th>
            <th class="right" style="padding-right:0px;"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><a href="payments/endPages/noDebited">No money has been taken<br>(our fault - PECS)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2865">PA233-2865</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/noDebitedDecs">No money has been taken<br>(our fault - DECS)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2865">PA233-2865</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/failedPayment">Payment method rejected<br>(customer card at fault - PECS)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2872">PA233-2872</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/failedPaymentDecs">Payment method rejected<br>(customer card at fault - DECS)</a></td>
            <td></td>
            <td>
               <a href="https://bsa2468.atlassian.net/browse/PA233-2872">PA233-2872</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/cancelled">User cancels their Gov Pay payment (PECS)</a></td>
            <td></td>
            <td>
              <a href="https://bsa2468.atlassian.net/browse/PA233-3132">PA233-3132</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/cancelledDecs">User cancels their Gov Pay payment (DECS)</a></td>
            <td></td>
            <td>
              <a href="https://bsa2468.atlassian.net/browse/PA233-3132">PA233-3132</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/expired">Payment expired (PECS)</a></td>
            <td></td>
            <td>
              <a href="https://bsa2468.atlassian.net/browse/PA233-3133">PA233-3133</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="payments/endPages/expiredDecs">Payment expired (DECS)</a></td>
            <td></td>
            <td>
              <a href="https://bsa2468.atlassian.net/browse/PA233-3133">PA233-3133</a>
            </td>
            <td class="right"><a href="#"></a></td>
         </tr>
      </tbody>
   </table>
</main>
{% endblock %}