{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <p>
    <a href="index"> Back to all prototypes</a>
  </p>
  
<div class="heading-group">
     <p>Challenge Prototype</p>
     <h1 class="heading-xlarge">
      Payment journeys
     </h1>
   </div>
    
    <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>Direct Debit</th>
           <th></th>
         <th class="right" style="padding-right:0px;"></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><a href="payments/dd/pcnPage">Direct Debit</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>
     </tbody>
   </table>
    
    <br>
    
        <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>Recurring payments</th>
           <th></th>
         <th class="right" style="padding-right:0px;"></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><a href="payments/rp/pcnPage">Recurring payments</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>
     </tbody>
   </table>
    
    <br>
    
            <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>Standing order</th>
           <th></th>
         <th class="right" style="padding-right:0px;"></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><a href="payments/so/pcnPage">Standing order</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>
     </tbody>
   </table>
    
    <br>
    
                <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>Payment plan</th>
           <th></th>
         <th class="right" style="padding-right:0px;"></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><a href="/public/images/prototypes/pay/v5.pdf">Version 5 - November 2017</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>
     </tbody>
   </table>
    
</main>

{% endblock %}
