{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <p>
    <a href="index"> Back to all prototypes</a>
  </p>
  
<div class="heading-group">
     <p>Challenge Prototype</p>
     <h1 class="heading-xlarge">
      Payment journeys
     </h1>
   </div>
    
    <div class="panel panel-border-narrow">
        <p style="color: red;">Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.</p>
    </div>
    
                        <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>Start pages</th>
           <th></th>
         <th class="right" style="padding-right:0px;"></th>
       </tr>
     </thead>
     <tbody>
                           <tr>
          <td>
            <a href="breakdown/penaltyView/penalty-view-pcgc">Penalty view (user has started paying)</a>
          </td>
           <td></td>
         <td class="right"><a href=""></a></td>
        </tr>
         
       <tr>
         <td><a href="breakdown/start/enter-pcn-number">Enter PCN number  (user goes directly into pay e.g. from error page)</a></td>
           <td></td>
         <td class="right"><a href=""></a></td>
       </tr>
                <tr>
         <td><a href="payments/amount">Enter amount  (user goes directly into pay e.g. from error page)</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>

     </tbody>
   </table>
    
    <br>
    
                    <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>End pages</th>
           <th></th>
         <th class="right" style="padding-right:0px;"></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><a href="payments/endPages/paidFull">Success paid in full</a></td>
           <td></td>
         <td class="right"><a href="payments/endPages/paidFull"></a></td>
       </tr>
                <tr>
         <td><a href="payments/endPages/paidPartially">Success paid partially</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>
                         <tr>
         <td><a href="payments/endPages/failedPayment">Payment failed</a></td>
           <td></td>
         <td class="right"><a href="#"></a></td>
       </tr>
     </tbody>
   </table>

    
</main>

{% endblock %}
