{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <p>
    <a href="index"> Back to all prototypes</a>
  </p>
  
<div class="heading-group">
     <p>Challenge Prototype</p>
     <h1 class="heading-xlarge">
      Penalty view pages
     </h1>
   </div>
        <table id="review-table-one" class="check-table">
     <thead>
       <tr>
         <th>Penalty view pages</th>
           <th></th>
         <th class="right" style="padding-right:0px;">JIRA ticket number</th>
       </tr>
     </thead>
     <tbody>

                                                    <tr>
         <td><a href="breakdown/penaltyView/penalty-view-decs">Penalty view DECS and UC</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
         
                                                    <tr>
         <td><a href="breakdown/penaltyView/penalty-view-medic">Penalty view and MEDEX</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
         
                                                    <tr>
         <td><a href="breakdown/penaltyView/penalty-view-matern">Penalty view MATEX</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
         
                                                    <tr>
         <td><a href="breakdown/penaltyView/penalty-view-ppc">Penalty view PPC</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
                                                             <tr>
         <td><a href="breakdown/penaltyView/penalty-view-creds">Penalty view tax credit</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
                                                             <tr>
         <td><a href="breakdown/penaltyView/penalty-view-hc2">Penalty view HC2</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
         
                                                    <tr>
         <td><a href="breakdown/penaltyView/penalty-view-jsa">Penalty view JSA</a></td>
           <td></td>
           <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
         
                                                    <tr>
         <td><a href="breakdown/penaltyView/penalty-view-esa">Penalty view ESA</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>
                                                             <tr>
         <td><a href="breakdown/penaltyView/penalty-view-pcgc">Penalty view PCGC</a></td>
           <td></td>
         <td class="right"><a href="https://bsa2468.atlassian.net/browse/PA233-733">PA233-733</a></td>
       </tr>

     </tbody>
   </table>  
</main>

{% endblock %}
