{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <!-- <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div> -->
   <p>
      <a href="tlrs">< Back to all prototypes</a>
   </p>
<div class="heading-group">
    <p>Identity Confirmation</p>
   <h3 class="heading-large">February 2019 - Latest Version</h2>
 </div>
<!--<h1 class="heading-xlarge">Transforming Loss Recovery Service</h1>-->
   <br>
   <p style="font-weight: bold;">Page by page breakdown</p>
   <ul class="list list-bullet">
      <li>Identity Confirmation page by page breakdown</a></li>
   </ul>
   <hr>
   <p style="font-weight: bold;">Journeys</p>
   <ul class="list list-bullet">
      <li>Journey 1</li>
      <li>Journey 2</li>
      <li>Journey 3</li>
   </ul>
   <hr>
   <p style="font-weight: bold;">What we tested</p>
   <p>Some PCN recipients have managed to log into someone else's PCN so we have come up with the following two-part PCN verification soluions:</p>
   <ul class="list list-bullet">
      <li>User enters their PCN number again on the same screen.</li>
      <li>User enters their PCN number again on the next screen.</li>
      <li>User enters their PCN number again on the next screen.</li>
   </ul>
<!--    <hr>
   <p style="font-weight: bold;">Proposed changes</p>
   <ul class="list list-bullet">
      <li><a href="#">Version 4 - January 2018</a></li>
   </ul> -->
</main>
{% endblock %}