{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <!-- <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div> -->
   <p>
      <a href="tlrs">< Back to all prototypes</a>
   </p>
   <div class="heading-group">
    <p>Pay by Direct Debit</p>
   <h3 class="heading-large">March 2019 - Latest Version</h2>
 </div>
<!--    <h1 class="heading-xlarge">Transforming Loss Recovery Service</h1> -->
   <br>
   <p style="font-weight: bold;">Page by page breakdown</p>
   <ul class="list list-bullet">
      <li><a href="directDebitsPages">Direct Debits page by page breakdown</a></li>
   </ul>
   <hr>
   <p style="font-weight: bold;">User Journeys to test</p>
   <ul class="list list-bullet">
      <li><a href="payments/dd_v2_test/start">Pay by Direct Debit </a><p>(full journey, DECS Band 3) with bank validation error</p></li>
      <li><a href="payments/dd_v2_test/plan-info2">DD Guidance - User does not check 'payment failure' box</a></li>
      <li><a href="payments/dd_v2_test/plan-info3">DD Guidance - User checks one 'account' box</a></li>
      <li><a href="payments/dd_v2_test/bankDetails2">Bank details and KYC failure</a></li>
   </ul>
   <hr>
   <p style="font-weight: bold;">What we tested</p>
   <ul class="list list-bullet">
      <li>DECS case with PCN total of £356.50. Testing to see if increased cost affects Direct Debit choices.</li>
      <li>Direct Debit guidance error validation if user does not check all 3 boxes</li>
   </ul>
<!--    <hr>
   <p style="font-weight: bold;">Proposed changes</p>
   <ul class="list list-bullet">
      <li><a href="#">Version 4 - January 2018</a></li>
   </ul> -->
</main>
{% endblock %}