{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <!-- <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div> -->
   <h1 class="heading-xlarge">Transforming Loss Recovery Service</h1>
    <h3 class="heading-large">Latest version</h2>
   <p style="font-weight: bold;">Pay by Direct Debit</p>
   <ul class="list list-bullet">
      <li><a href="tlrsLatest">Version 4 - March 2019</a></li>
   </ul>
   <br>
   <p style="font-weight: bold;">Challenge</p>
   <ul class="list list-bullet">
      <li><a href="#">Version 5 - July 2018</a></li>
   </ul>
   <br>
   <hr>
   <h2 class="heading-large">Previous versions</h2>
   <p style="font-weight: bold;">Pay by Direct Debit</p>
   <ul class="list list-bullet">
      <li><a href="#">Version 3 - February 2019</a></li>
      <li><a href="#">Version 2 - January 2019</a></li>
      <li><a href="#">Version 1 - December 2018</a></li>
   </ul>
   <br>
   <p style="font-weight: bold;">Challenge</p>
   <ul class="list list-bullet">
      <li><a href="#">Version 4 - January 2018</a></li>
      <li><a href="#">Version 3 - November 2017</a></li>
      <li><a href="#">Version 2 - August/September 2017</a></li>
      <li><a href="#">Version 1 - July 2017</a></li>
   </ul>
   <br>
   <hr>
   <h2 class="heading-large">Other links</h2>
   <ul class="list list-bullet">
      <li><a href="https://suv.herokuapp.com/">SUV (Single User View)</a></li>
      <li><a href="https://tlrs.herokuapp.com/">Challenge (archived, 2017)</a></li>
      <p>Dynamic prototype with complete user journey - old content</p>
      <li><a href="https://tlrs-alpha.herokuapp.com/">tlrs-alpha</a></li>
      <p>Static journeys for GDS Alpha asessment - January 2018</p>
   </ul>
</main>
{% endblock %}