{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <!-- <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div> -->
   <h1 class="heading-xlarge">Transforming Loss Recovery Service</h1>
   <hr>
   <h3 class="heading-large">Latest versions</h2>
     <p style="font-weight: bold; margin-bottom: 10px;">Identity Confirmation / PCN Validation</p>
     <ul class="list list-bullet" style="margin-bottom: 30px;">
        <li><a href="tlrsLatestIdenConf">February 2019</a></li>
     </ul>
     <p style="font-weight: bold; margin-bottom: 10px;">Pay by Direct Debit</p>
     <ul class="list list-bullet" style="margin-bottom: 30px;">
        <li><a href="tlrsLatestDd">Version 4 - March 2019</a></li>
     </ul>
     <p style="font-weight: bold; margin-bottom: 10px;">Pay by Card</p>
     <ul class="list list-bullet" style="margin-bottom: 30px;">
        <li><a href="paymentJourneys">Gov Pay Journeys - November 2018</a></li>
     </ul>
     <p style="font-weight: bold; margin-bottom: 10px;">Challenge</p>
     <ul class="list list-bullet" style="margin-bottom: 30px;">
        <li><a href="tlrsLatestChallenge">Current version</a></li>
     </ul>
   <hr>
   <h2 class="heading-large">Previous versions</h2>
     <p style="font-weight: bold; margin-bottom: 10px;">Identity Confirmation / PCN Validation</p>
     <ul class="list list-bullet" style="margin-bottom: 30px;">
        <li>Version 1 - Month 201X</a></li>
     </ul>
     <p style="font-weight: bold; margin-bottom: 10px;">Pay by Direct Debit</p>
     <ul class="list list-bullet" >
        <li><a href="versions/v3-dd">Version 3 - February 2019</a></li>
        <li><a href="versions/v2-dd">Version 2 - January 2019</a></li>
        <li><a href="versions/v1-dd">Version 1 - December 2018</a></li>
     </ul>
     <!-- <p style="font-weight: bold; margin-bottom: 10px;">Pay by Card</p>
     <ul class="list list-bullet">
        <li>Version X - November 2017</a></li>
     </ul> -->
     <!-- <p style="font-weight: bold; margin-bottom: 10px;">Challenge</p>
     <ul class="list list-bullet">
        <li>Version X - Month 201X</a></li>
     </ul> -->
   <hr>
   <h2 class="heading-large">Other links</h2>
     <ul class="list list-bullet">
        <li><a href="https://suv.herokuapp.com/">SUV (Single User View)</a></li>
        <li><a href="https://tlrs.herokuapp.com/">Challenge (archived, 2017)</a>
          <p>Dynamic prototype with complete user journey - old content</p></li>
        <li><a href="https://tlrs-alpha.herokuapp.com/">tlrs-alpha</a></li>
        <p>Static journeys for GDS Alpha asessment - January 2018</p>
     </ul>
</main>
{% endblock %}