{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <!-- <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div> -->
   <p>
      <a href="tlrs">< Back to all prototypes</a>
   </p>
<div class="heading-group">
    <p>Pay by Card - Latest Version</p>
   <h3 class="heading-large">Version X - November 2018</h2>
 </div>
<!--    <h1 class="heading-xlarge">Transforming Loss Recovery Service</h1> -->
   <br>
   <p style="font-weight: bold;">Page by page breakdown</p>
   <ul class="list list-bullet">
      <li>Pay by Card page by page breakdown</a></li>
   </ul>
   <hr>
   <p style="font-weight: bold;">Journeys</p>
   <ul class="list list-bullet">
      <li>Journey 1</li>
      <li>Journey 2</li>
      <li>Journey 3</li>
   </ul>
   <hr>
   <p style="font-weight: bold;">What we tested</p>
   <ul class="list list-bullet">
      <li>Thing we tested 1</li>
      <li>Thing we tested 2</li>
      <li>Thing we tested 3</li>
      <li>Thing we tested 4</li>
   </ul>
<!--    <hr>
   <p style="font-weight: bold;">Proposed changes</p>
   <ul class="list list-bullet">
      <li><a href="#">Version 4 - January 2018</a></li>
   </ul> -->
</main>
{% endblock %}