{% extends "layout_bsa.html" %}
{% block page_title %}
Pay a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
      <div class="column-two-thirds">
         <div id="back">
            <a href="javascript:history.go(-1)" id="back-button" class="link-back">Back</a>
            <script type="text/javascript">
               document.getElementById('back-button');
            </script>
         </div>
         <div class="heading-group">
            <p>Pay an NHS Penalty Charge Notice</p>
            <h1 class="heading-large">Select your address</h1>
         </div>
         <br>
         <ul class="list list-bullet">
           <li><a href="selectedAddress">12 Old Oak Road, Throckley, Newcastle upon Tyne, NE15 9AD</a></li></br>
           <li><a href="selectedAddress">13 Old Oak Road, Throckley, Newcastle upon Tyne, NE15 9AD</a></li></br>
           <li><a href="selectedAddress">14 Old Oak Road, Throckley, Newcastle upon Tyne, NE15 9AD</a></li></br>
           <li><a href="selectedAddress">15 Old Oak Road, Throckley, Newcastle upon Tyne, NE15 9AD</a></li></br>
           <li><a href="selectedAddress">16 Old Oak Road, Throckley, Newcastle upon Tyne, NE15 9AD</a></li>
         </ul>
      </div>
   </div>

</main>
{% endblock %}